#modal-export .modal-body {
  padding: 0;
}
#modal-export .nav-tabs {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 15px;
}
#modal-export .nav-tabs li {
  width: 85px;
}
#modal-export-description {
  margin-bottom: 0;
  padding: 15px;
}
#modal-export .modal-footer {
  margin-top: 0;
}
#modal-export .tab-content {
  overflow: auto;
}